{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'challenge/css/login.css' %}" />
    </head>

    <body>

        {% block content %}

        {% endblock %}
    </body>

c