{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'challenge/css/header.css' %}" />
    </head>

    <body>
        <header class="header-user-dropdown">
            <div class="header-limiter">
                <h1><a href="#">Video<span>Challenge</span></a></h1>
                <nav>
                    <a href="#">Home</a>
                    <a href="#">Trending</a>
                    <a href="#">Done</a>
                </nav>

                {# SEARCH FIELD #}
                {#<input type="text" name="search" placeholder="Search..">#}

                <div class="header-user-menu">
                    <img src="{% static 'challenge/images/user.png' %}" alt="User Image"/>
                    <ul>
                        <li><a href="#">Account</a></li>
                        <li><a href="{% url 'challenge:logout' %}" class="highlight">Logout</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="divider"></div>

        {% block content %}

        {% endblock %}
    </body>

</html>