{% extends "challenge/base.html" %}

{% block content %}

  <script>
    
    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
      
      if (response.status === 'connected') {
        testAPI();
      } else {
        console.log("Cannot Login");
      }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }


    window.fbAsyncInit = function() {
      FB.init({
        appId      : '615630245445357',
        cookie     : true,  // enable cookies to allow the server to access 
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.8' // use graph api version 2.8
      });
    
      // FB.getLoginStatus(function(response) {
      //   statusChangeCallback(response);
      // });

    };

    function loginFB() {
      FB.login(function(response){
        checkLoginState(response);
      });
    }

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
        console.log(response);
        
        var redirect_url = "";
        var params = {"id": response.id, "name": response.name};
        post(redirect_url, params);
      });
    }

    // TODO: send data of user to server; issue: csrf token
    function post(path, params) {
      method = "post"; // Set method to post by default if not specified.

      // The rest of this code assumes you are not using a library.
      // It can be made less wordy if you use one.
      var form = document.createElement("form");
      form.setAttribute("method", method);
      form.setAttribute("action", path);

      for(var key in params) {
        if(params.hasOwnProperty(key)) {
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", key);
          hiddenField.setAttribute("value", params[key]);

          form.appendChild(hiddenField);
        }
      }

      document.body.appendChild(form);
      form.submit();
    }

  </script>

  <!--
    Below we include the Login Button social plugin. This button uses
    the JavaScript SDK to present a graphical Login button that triggers
    the FB.login() function when clicked.
  -->

  <!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
  </fb:login-button> -->

  <button class="fb-login" onclick="loginFB()">Login with Facebook</button>

  <!-- <div id="status"></div> -->

{% endblock %}