{% extends "challenge/baselogin.html" %}

{% block content %}
  <div id="wrapper">
      <div class="join">Join Now!</div>
    	<div class="lock"></div>
	        <div class="clr"></div>
    	    	<div class="login-options">Choose on of the following sign up methods.</div>
                	<a class="twitter" href="#">Twitter</a>
                    <a class="facebook" href="{% url 'social:begin' 'facebook' %}">Facebook</a>
                    <a class="google" href="#">Google+</a>
                    <div class="clr"><hr /></div>
                    		<div class="mail-text">Or sign up using your email address.</div>
                            		<div class="forms">
                                    <form action="" method="get" name="register">
                                    <input name="fullname" type="text" value="Enter your full name..." size="70" onClick="border: 1px solid #30a8da;" id="username"/>
                                    <input name="email" type="text" value="Enter your email address..." size="70" onClick="border: 1px solid #30a8da;" id="mail"/>
                                    <input name="password" type="password" value="Enter a password..." size="70" onClick="border: 1px solid #30a8da;" id="password"/>
                                    </form>
                                    </div>
						<a class="create-acc" href="#">Create Account</a>
</div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
{% endblock %}