{% extends "challenge/base.html" %}

{% block content %}
<h1>Trending Section</h1>
    <h1>Trending Section</h1>
    <h1>Trending Section</h1><h1>Trending Section</h1><h1>Trending Section</h1>
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>

    <h1>Trending Section</h1><h1>Trending Section</h1><h1>Trending Section</h1><h1>Trending Section</h1>

{% endblock %}